<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Work</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body>
    <div class="wrapper">
        <section class="section__1">
            <header class="container">
                <span class="logo">
                    <a href="#">
                        <img src="../images/logo.png" alt="logo" />
                    </a>
                </span>
                <nav>
                    <ul>
                        <li><a href="#history">01. history</a></li>
                        <li><a href="#team">02. team</a></li>
                    </ul>
                </nav>
            </header>
        </section>
        <section class="section__2">
            <header class="container">
                <span class="logo">
                    <a href="#">
                        <img src="../images/logo__2.png" alt="logo 2" />
                    </a>
                </span>
                <nav>
                    <ul>
                        <li><a href="#history">01. history</a></li>
                        <li><a href="#team">02. team</a></li>
                    </ul>
                </nav>
            </header>
        </section>
        <section id="history" class="section__3">
            <div class="container">
                <h2>01. <span>history</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in ante viverra, rutrum erat rutrum, consectetur mi. Proin at maximus est. Nullam purus ex, iaculis sed erat sed, blandit tincidunt quam. Cras scelerisque id quam sed dignissim Pellentesque urna nunc, gravida quis hendrerit ac, tristique ut quam. Vivamus suscipit dignissim tortor nec congue. </p>
            </div>
            <div class="carousel">
                <ul class="container custom__scroll">
                    <li><img src="../images/small1.jpg" alt="thumbnail-1" /></li>
                    <li><img src="../images/small2.jpg" alt="thumbnail-2" /></li>
                    <li><img src="../images/small1.jpg" alt="thumbnail-3" /></li>
                    <li><img src="../images/small2.jpg" alt="thumbnail-4" /></li>
                </ul>
            </div>
        </section>
        <section id="team" class="section__4">
            <div class="container">
                <h2>02. <span>climb</span></h2>
                <p>Cras scelerisque id quam sed dignissim Pellentesque urna nunc, gravida quis hendrerit ac, tristique ut quam. Vivamus suscipit dignissim tortor nec congue</p>
            </div>
        </section>
        <section class="section__5">
            <div class="tab">
                <div class="container">
                    <input type="radio" id="mountain_1" name="tab" checked="checked" />
                    <label for="mountain_1">mountain 1</label>
                    <div class="tab__container">
                        <div class="container">
                            <div class="schedule">
                                <h3>schedule 1</h3>
                                <ul class="schedule__list">
                                    <li>
                                        <span>25 Nov 2016</span>
                                        <span>Vestibulum viverra</span>
                                    </li>
                                    <li>
                                        <span>28 Nov 2016</span>
                                        <span>Vestibulum viverra</span>
                                    </li>
                                    <li>
                                        <span>18 Dec 2016</span>
                                        <span>Vestibulum viverra</span>
                                    </li>
                                    <li>
                                        <span>7 Jan 2017</span>
                                        <span>Vestibulum viverra</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <input type="radio" id="mountain_2" name="tab" />
                    <label for="mountain_2">mountain 2</label>
                    <div class="tab__container">
                        <div class="container">
                            <div class="schedule">
                                <h3>schedule 2</h3>
                                <ul class="schedule__list">
                                    <li>
                                        <span>25 Nov 2016</span>
                                        <span>Vestibulum viverra</span>
                                    </li>
                                    <li>
                                        <span>28 Nov 2016</span>
                                        <span>Vestibulum viverra</span>
                                    </li>
                                    <li>
                                        <span>18 Dec 2016</span>
                                        <span>Vestibulum viverra</span>
                                    </li>
                                    <li>
                                        <span>7 Jan 2017</span>
                                        <span>Vestibulum viverra</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="schedule">
                    <h3>schedule</h3>
                    <ul class="schedule__list">
                        <li>
                            <span>25 Nov 2016</span>
                            <span>Vestibulum viverra</span>
                        </li>
                        <li>
                            <span>28 Nov 2016</span>
                            <span>Vestibulum viverra</span>
                        </li>
                        <li>
                            <span>18 Dec 2016</span>
                            <span>Vestibulum viverra</span>
                        </li>
                        <li>
                            <span>7 Jan 2017</span>
                            <span>Vestibulum viverra</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <span class="logo">
                    <a href="#">
                        <img src="../images/logo_blue.jpg" alt="logo" />
                    </a>
                </span>
                <p>COPYRIGHT 2016. ALL RIGHTS RESERVED.</p>
            </div>
        </footer>
    </div>
  </body>
</html>